.FilterButtons {
  display: flex;
  gap: var(--btn-gap); 
  margin-bottom: 16px;
}

.Button {
  padding: 6px 12px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: var(--size-radius-2);
  cursor: pointer;
  font-size: 14px;
  color: var(--text-primary);
  transition: all 0.2s ease;

  &:hover {
    border-color: var(--neutral);
    background-color: var(--active-bg);
  }
}

.Active {
  background-color: var(--primary);
  color: #ffffff;
  border-color: var(--primary);
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
  border-radius: var(--size-radius-2); 

  &:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
    box-shadow: 0 2px 4px rgba(0, 86, 179, 0.4);
  }
}
